<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h2>Login with auth:</h2>
            <a href="/oauth2/authorization/duende">Duende</a>
        </div>
        <h2>
            <h2>Default login, without auth:</h2>
            <a href="/normal">Normal</a>
        </h2>
    </div>
</body>
</html>